<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
	<bean id="test-controller" class="test.mvc.TestController">
		<property name="methodNameResolver" ref="test-resolver"/>
		<property name="testLogic" ref="test-logic"/>
	</bean>
	<!-- 인터셉터에 logic 클래스를 주입 -->
	<bean id="test-interceptor" class="test.mvc.TestInterceptor">
		<property name="testLogic" ref="test-logic"/>	
	</bean>
	<!-- Url의 mapping이 이루어짐 -->
	<bean id="url-mapping" 
	class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="interceptors">
			<list>
				<ref bean="test-interceptor"/>
			</list>
		</property>
		<property name="mappings">
			<props>
				<prop key="/member/test.nds">test-controller</prop>
				<prop key="/member/ajaxTest.nds">test-controller</prop>
			</props>
		</property>
	</bean>
	<bean id="test-resolver" class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
		<property name="mappings">
			<props>
				<prop key="/member/test.nds">test</prop>
				<prop key="/member/ajaxTest.nds">ajaxTest</prop>
			</props>
		</property>
	</bean>	
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>
</beans>
