/* 모달 가운데 정렬 */

.modal.modal-center {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal.modal-center:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog.modal-center {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

/* map 말풍선 */

.errand_regist {
  padding: 10px;
  font-weight: bold;
  color: black;
  animation: errand_animate 1000ms ease-in infinite;
}

@keyframes errand_animate {
  0% {
    color: rgb(195, 195, 195);
  }
  50% {
    color: rgb(109, 109, 109);
  }
  100% {
    color: rgb(24, 24, 24);
  }
}
